*{
    box-sizing: border-box;
  } 
  .obertka{
    padding-top: 5px;
    text-align: center;
    width: 420px;
    height: 380px;
    background-color:whitesmoke ;
    font-family: sans-serif;
    border: 1px solid blue;
  }
  hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 10px;
  }
  
  hr:after {
    background: #fff;
    content: 'Register';
    padding: 0 4px;
    position: relative;
    top: -13px;
    font-size: 24px;
  }
  .name{
    width: 150px;
    height: 35px;
  }
  .in1{
    width: 305px;
    height: 35px;
  }
  .b1{
    background: rgb(106, 187, 106);
    width: 320px;
    height: 40px;
    font-size: 24px;
  }
  .p1{
    opacity: 0.33;
  }
  span{
    opacity: 0.33;
  }
  a{
    color: rgb(106, 187, 106);
    text-decoration: none;
  }